* {
    box-sizing: border-box;
    
  }
  
  body {
    margin: 0; 
  }

  .phone_header{
    width: 100%;
    background-color: #363535;
    padding: 10px;
    height: 35px;
  }

  #phone {
    height: 15px;
    display: inline;
  }

  #email {
    height: 15px;
    display: inline;
  }

  #number {
      color: black;
  }

  #number:link {
    text-decoration: none;
  }
  
  #number:visited {
    text-decoration: none;
  }
  
  .header{
    /*#3F3E3E*/
    background-color: #3F3E3E;
    height: 220px;
    padding: 10px;
  }


  #logo {
    height: 200px;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .topnav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: #DADADC;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; 
    margin-left: 0px; 

  }

  .topnav li {
    display: inline-block;
    text-align:center; 
  }

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav li:hover {
    background-color: #5AB964;
    color: black;
  }



